.add-contact-button {
  overflow: auto;
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  .btn {
    border: 0;
    background-color: #216fb5;
    color: white;
  }
  .modal-header {
    background-color: #216fb5;
    color: white;
  }
}